<div
  class={{concat-class
    "tag-title-header"
    (concat "tag-banner-" @formattedTagName)
    @additionalClass
  }}
>
  <div class="tag-title-contents">
    <h1>
      <span>MEV Letter</span>
    </h1>
    <p>Subscribe to the MEV Letter</p>
  </div>
</div>
